.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;

  width: 100vw;
  height: 100vh;

  background-color: getColor('bgd-primary');

  pointer-events: none;
  transform: scale(0);
  transition: transform var(--animation-duration)
    var(--animation-timing-function);
}

.menu-container.is-open {
  pointer-events: auto;
  transform: scale(1);
}

.menu-container__wrap {
  max-width: 480px;
  min-height: 100vh;
  margin-right: auto;
  margin-left: auto;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-right: 40px;
  padding-left: 40px;
}

.menu-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;

  border: 0;
  background-color: getColor('bgd-primary');

  transition: color var(--animation-duration) var(--animation-timing-function);
  cursor: pointer;

  &:hover {
    color: getColor('accent');
  }
  @include mq(tablet) {
    display: none;
  }

  &--close {
    position: absolute;
    top: 10px;
    right: 15px;
  }
}

.menu-toggle__icon-open,
.menu-toggle__icon-close {
  &:hover {
    fill: currentColor;
  }
}

.mobile-menu {
  display: flex;
  flex-direction: column;
}
.mobile-menu__mobile-socials {
  margin-top: 64px;
}

.mobile-menu__list {
}
.mobile-menu__item {
  font-weight: $fw-500;
  font-size: $fs-40;
  letter-spacing: $ls-02;
  line-height: 1.17;

  &:not(:last-child) {
    margin-bottom: 32px;
  }

  opacity: 0;
  transform: translateY(300%);
  .menu-container.is-open & {
    opacity: 1;
    transform: translateY(0);
    &:nth-child(1) {
      transition: transform 500ms var(--animation-timing-function) 250ms,
        opacity 800ms var(--animation-timing-function) 250ms;
    }
    &:nth-child(2) {
      transition: transform 500ms var(--animation-timing-function) 350ms,
        opacity 800ms var(--animation-timing-function) 250ms;
    }
    &:nth-child(3) {
      transition: transform 500ms var(--animation-timing-function) 450ms,
        opacity 800ms var(--animation-timing-function) 250ms;
    }
  }
}

.mobile-menu__link {
  color: getColor('text-secondary');
  transition: color var(--animation-duration) var(--animation-timing-function);

  &:hover,
  &:focus,
  &--active {
    color: getColor('accent');
  }
}
.mobile-menu__tel {
  display: block;
  margin-top: auto;

  font-weight: $fw-500;
  font-size: $fs-34;
  letter-spacing: $ls-02;
  line-height: 1.17;
  color: getColor('accent');

  opacity: 0;
  .menu-container.is-open & {
    opacity: 1;
    transition: opacity 1000ms var(--animation-timing-function) 550ms;
  }
}
.mobile-menu__mail {
  display: block;
  margin-top: 32px;

  font-weight: $fw-500;
  font-size: $fs-24;
  letter-spacing: $ls-02;
  line-height: 1.17;
  color: inherit;

  &:hover,
  &:focus {
    color: getColor('accent');
  }

  opacity: 0;
  .menu-container.is-open & {
    opacity: 1;
    transition: opacity 1000ms var(--animation-timing-function) 550ms;
  }
}
.mobile-socials {
  display: flex;
  flex-wrap: wrap;
}
.mobile-socials__item {
  &:not(:first-child) {
    margin-left: 10px;
  }
  &:not(:first-child)::before {
    content: '';
    margin-right: 10px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    transform: rotate(90deg);
  }
  opacity: 0;
  .menu-container.is-open & {
    opacity: 1;
    transition: opacity 1000ms var(--animation-timing-function) 550ms;
  }
}
.mobile-socials__link {
  font-weight: $fw-500;
  font-size: $fs-18;
  letter-spacing: $ls-02;
  line-height: 1.22;
  color: getColor('accent');
}
