.page-header {
  height: 60px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ececec;

  @include mq(tablet) {
    height: 80px;
  }
}

.page-header__сontainer {
  display: flex;

  height: 100%;

  @include mq(mobile-only) {
    justify-content: space-between;
    align-items: center;
  }
}

// .page-header__logo {
//   padding-top: 24px;
//   padding-bottom: 25px;
// }

.page-header__site-nav {
  margin-left: 93px;
}

.page-header__contacts {
  margin-left: auto;
}
