.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;

  @include mq(mobile) {
    width: 480px;
  }
  @include mq(tablet) {
    width: 768px;
  }
  @include mq(desktop) {
    width: 1200px;
  }
}

.section {
  padding: 60px 0;

  &--bgd-color {
    background-color: var(--bgd-tertiary);
  }

  &--bgd-elements-color {
    background-color: var(--bgd-secondary);
  }

  @include mq(notDesktop) {
    &--hidden {
      display: none;
    }
  }
  @include mq(desktop) {
    padding: 94px 0;

    &--no-bt-padding {
      padding-bottom: 0;
    }
  }
}

.section__title {
  font-weight: $fw-700;
  font-size: $fs-28;
  letter-spacing: $ls-03;
  text-align: center;

  color: var(--title-primary);

  &--hidden {
    @extend %visuallity-hidden;
  }

  @include mq(notDesktop) {
    margin-bottom: 30px;
  }
  @include mq(desktop) {
    margin-bottom: 50px;
    font-size: $fs-36;
  }

  &--power {
    font-weight: $fw-700;
    font-size: $fs-60;
    color: var(--text-tertiary);
    text-transform: uppercase;
    text-shadow: 1px 1px 1px #919191, 1px 2px 1px #919191, 1px 3px 1px #919191,
      1px 4px 1px #919191, 1px 5px 1px #919191, 1px 6px 1px #919191,
      1px 7px 1px #919191, 1px 8px 1px #919191, 1px 9px 1px #919191,
      1px 10px 1px #919191, 1px 18px 6px rgba(16, 16, 16, 0.4),
      1px 22px 10px rgba(16, 16, 16, 0.2), 1px 25px 35px rgba(16, 16, 16, 0.2),
      1px 30px 60px rgba(16, 16, 16, 0.4);
  }
}

.footer-fixed-wrapper {
  display: flex;
  flex-direction: column;
  height: calc(100% + 1px);
}

.main-content {
  flex-grow: 1;
}
