.button-close {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: inherit;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);

  transition: color var(--animation-duration) var(--animation-timing-function);
  cursor: pointer;

  &:hover,
  &:focus {
    color: var(--accent);
  }
}

.button-close__icon {
  fill: currentColor;
}
