body {
  font-family: 'Roboto', sans-serif;
  font-size: $fs-14;
  line-height: 1.17;
  letter-spacing: $ls-03;
  color: var(--text-primary);

  background-color: var(--bgd-primary);
}

html,
body {
  height: 100%;
}

body {
  padding-top: 60px;

  @include mq(tablet) {
    padding-top: 80px;
  }
  &.modal-open {
    @include mq(notDesktop) {
      overflow: hidden;
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
