.socials {
  display: flex;
  justify-content: center;
  align-items: center;
}

.socials__item {
  width: 44px;
  height: 44px;

  &:not(:first-child) {
    margin-left: 10px;
  }
}

.socials__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  color: var(--icon-primary);

  background-color: var(--bgd-primary);
  border: none;
  border-radius: 50%;

  transition: color var(--animation-duration) var(--animation-timing-function),
    background-color var(--animation-duration) var(--animation-timing-function);

  &:hover,
  &:focus {
    color: var(--bgd-primary);

    background-color: var(--accent);
  }

  &--light {
    color: var(--bgd-primary);

    background-color: var(--bgd-socials-light);

    transition: background-color var(--animation-duration)
      var(--animation-timing-function);
  }

  &--light:hover,
  &--light:focus {
    background-color: var(--accent);
  }
}

.socials__icon {
  fill: currentColor;
}
