.address {
  font-style: normal;
}

.address_list {
  margin-top: 20px;
}
.address__item {
  font-style: normal;
  line-height: 1.71;
  color: inherit;

  @include mq(notDesktop) {
    &:not(:first-child) {
      margin-top: 8px;
    }
  }
  @include mq(desktop) {
    &:not(:first-child) {
      margin-top: 9px;
    }
  }
}

.address__link {
  color: getColor('text-tertiary');

  transition: color var(--animation-duration) var(--animation-timing-function);

  &:hover,
  &:focus {
    color: getColor('accent');
  }
}

.address__contact {
  color: rgba(255, 255, 255, 0.6);

  transition: color var(--animation-duration) var(--animation-timing-function);

  &:hover,
  &:focus {
    color: getColor('accent');
  }
}
