.join-us {
  @include mq(mobile-only) {
    margin-top: 60px;
  }
  @include mq(tablet-only) {
    margin-left: 165px;
  }
}
.join-us {
  @include mq(desktop) {
    margin-left: 70px;
  }
}

.join-us__label {
  margin-bottom: 20px;

  font-weight: $fw-700;
  text-transform: uppercase;
  color: var(--text-tertiary);
}
