.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: getColor('bgd-secondary');

  @include mq(notDesktop) {
    text-align: center;
  }
}

.page-footer__container {
  @include mq(tablet) {
    display: flex;
    align-items: baseline;
  }
  @include mq(tablet-only) {
    flex-wrap: wrap;
    justify-content: center;
  }
  @include mq(desktop) {
  }
}
