.subscribe {
  font-weight: $fw-700;
  text-transform: uppercase;
  color: var(--text-tertiary);

  @include mq(notDesktop) {
    margin-top: 60px;
    flex-direction: column;
  }

  @include mq(desktop) {
    display: flex;
    align-items: flex-end;
    margin-left: auto;
  }
}
.subscribe__email {
  display: flex;
  flex-direction: column;
}

.subscribe__input {
  height: 50px;
  margin-top: 20px;
  padding-left: 16px;
  padding-right: 16px;

  font-size: $fs-16;
  line-height: 1.25;
  letter-spacing: $ls-03;
  color: rgba(255, 255, 255, 0.6);

  background-color: var(--bgd-secondary);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  transition: border-color var(--animation-duration)
    var(--animation-timing-function);
  outline: none;

  &:focus {
    border: 1px solid var(--accent);
  }
  @include mq(mobile-only) {
    max-width: 450px;
  }
  @include mq(tablet-only) {
    width: 450px;
  }
  @include mq(notDesktop) {
    margin-bottom: 20px;
  }
  @include mq(desktop) {
    min-width: 358px;
    margin-right: 12px;
  }
}

.subscribe__icon {
  margin-left: 10px;
}
