.contact-details {
  text-align: center;
}
.contact-details__item {
  margin-bottom: 40px;
}
.contact-details__title {
  margin-bottom: 20px;
  color: var(--text-secondary);
}
.contact-details__link {
  font-size: $fs-28;
  color: inherit;

  &:hover,
  &:focus {
    color: var(--accent);
  }
}
