/*=======================================================
  Page-header
=======================================================*/
.page-header {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ececec;
}

.page-header__сontainer {
  display: flex;
}

.page-header__logo {
  padding-top: 24px;
  padding-bottom: 25px;
}

.page-header__site-nav {
  margin-left: 93px;
}

.page-header__contacts {
  margin-left: auto;
}
