.callback-modal {
  position: relative;
  padding: 40px;
  text-align: center;

  background: getColor('bgd-primary');
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: scale(1);
  transition: transform var(--animation-duration)
    var(--animation-timing-function);

  .backdrop--hidden & {
    transform: scale(1.1);
  }

  @include mq(mobile-only) {
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
  @include mq(tablet) {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 100%;
    max-width: 450px;

    transform: translate(-50%, -50%) scale(1);

    .backdrop--hidden & {
      transform: translate(-50%, -50%) scale(1.1);
    }
  }
  @media screen and (max-width: 1199px) and (max-height: 620px) and (orientation: landscape) {
    position: static;
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
    transform: scale(1);

    .backdrop--hidden & {
      transform: scale(1.1);
    }
  }
  @include mq(desktop) {
    max-width: 528px;
  }
}

.callback-modal__title {
  display: inline-block;
  margin-bottom: 12px;

  font-weight: $fw-700;
  font-size: $fs-20;
  line-height: 1.5;
  letter-spacing: $ls-03;
  color: getColor('title-primary');

  @include mq(desktop) {
    line-height: 1.15;
  }
}

.callback-modal__button-close {
  position: absolute;
  top: 8px;
  right: 8px;
}
