@mixin mq($range) {
  $mobile: 480px;
  $tablet: 768px;
  $desktop: 1200px;

  @if $range == mobile-only {
    @media screen and (max-width: ($tablet - 1)) {
      @content;
    }
  } @else if $range == mobile {
    @media screen and (min-width: $mobile) {
      @content;
    }
  } @else if $range == tablet-only {
    @media screen and (min-width: $tablet) and (max-width: #{$desktop - 1}) {
      @content;
    }
  } @else if $range == tablet {
    @media screen and (min-width: $tablet) {
      @content;
    }
  } @else if $range == desktop {
    @media screen and (min-width: $desktop) {
      @content;
    }
  } @else if $range == notDesktop {
    @media screen and (max-width: #{$desktop - 1}) {
      @content;
    }
  } @else if $range == retina {
    @media screen and (min-device-pixel-ratio: 2),
      screen and (-moz-min-device-pixel-ratio: 2),
      screen and (-o-min-device-pixel-ratio: 2/1),
      screen and (-webkit-min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      @content;
    }
  }
}

// @mixin font($fs: 14px, $fw: 400, $lh: 1.4, $ls: 0.03em) {
//   font-size: $fz;
//   font-weight: $fw;
//   line-height: $lh;
//   letter-spacing: $ls;
// }

// @include font(40px, 700, 1.4, 0.06em);
// @include font($lh: 1.4, $ls: 0.01em);
