//? FONT SASS variables
// font-weight
$fw-500: 500;
$fw-700: 700;
$fw-900: 900;
// font-size
$fs-12: 12px;
$fs-14: 14px;
$fs-16: 16px;
$fs-18: 18px;
$fs-20: 20px;
$fs-24: 24px;
$fs-26: 26px;
$fs-28: 28px;
$fs-34: 34px;
$fs-36: 36px;
$fs-40: 40px;
$fs-44: 44px;
$fs-60: 60px;
// letter-spacing
$ls-01: 0.01em;
$ls-02: 0.02em;
$ls-03: 0.03em;
$ls-06: 0.06em;
// letter-height
$lh-2-00: 2;
// number-lines-portfolio-title
$number-lines-1: 1;
$number-lines-2: 2;

//? COLOR CSS variables in html
html {
  //* Color theme
  //? Light
  --title-primary-light: #212121;
  --title-secondary-light: #ffffff;

  --text-primary-light: #757575;
  --text-secondary-light: #212121;
  --text-tertiary-light: #ffffff;

  --accent-light: #2196f3;
  --logo-primary-light: #000000;
  --logo-secondary-light: #ffffff;
  --icon-primary-light: #afb1b8;

  --bgd-primary-light: #ffffff;
  --bgd-secondary-light: #2f303a;
  --bgd-tertiary-light: #f5f4fa;
  --bgd-button-focus-light: #188ce8;
  --bgd-socials-bright-light: rgba(255, 255, 255, 0.1);

  //? Dark
  --title-primary-dark: #c7c5c5;
  --title-secondary-dark: #ffffff;

  --text-primary-dark: #e0ffff;
  --text-secondary-dark: #b19f9f;
  --text-tertiary-dark: #788497;

  --accent-dark: rgb(199, 199, 236);
  --logo-primary-dark: #2196f3;
  --logo-secondary-dark: #2196f3;
  --icon-primary-dark: #afb1b8;

  --bgd-primary-dark: #2b2d31;
  --bgd-secondary-dark: #212121;
  --bgd-tertiary-dark: #5c586b;
  --bgd-button-focus-dark: rgba(237, 243, 243, 0.993);
  --bgd-socials-bright-dark: rgb(197, 169, 169);
}

//? COLOR AND ANIMATION CSS variables
:root {
  //? ANIMATION
  --animation-duration: 250ms;
  --animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  //? COLOR
  color-scheme: light;
  //? set defaults
  --title-primary: var(--title-primary-light);
  --title-secondary: var(--title-secondary-light);

  --text-primary: var(--text-primary-light);
  --text-secondary: var(--text-secondary-light);
  --text-tertiary: var(--text-tertiary-light);

  --accent: var(--accent-light);
  --logo-primary: var(--logo-primary-light);
  --logo-secondary: var(--logo-secondary-light);
  --icon-primary: var(--icon-primary-light);

  --bgd-primary: var(--bgd-primary-light);
  --bgd-secondary: var(--bgd-secondary-light);
  --bgd-tertiary: var(--bgd-tertiary-light);
  --bgd-button-focus: var(--bgd-button-focus-light);
  --bgd-socials-bright: var(--bgd-socials-bright-light);
}

[color-scheme='light'] {
  color-scheme: light;

  --title-primary: var(--title-primary-light);
  --title-secondary: var(--title-secondary-light);

  --text-primary: var(--text-primary-light);
  --text-secondary: var(--text-secondary-light);
  --text-tertiary: var(--text-tertiary-light);

  --accent: var(--accent-light);
  --logo-primary: var(--logo-primary-light);
  --logo-secondary: var(--logo-secondary-light);
  --icon-primary: var(--icon-primary-light);

  --bgd-primary: var(--bgd-primary-light);
  --bgd-secondary: var(--bgd-secondary-light);
  --bgd-tertiary: var(--bgd-tertiary-light);
  --bgd-button-focus: var(--bgd-button-focus-light);
  --bgd-socials-bright: var(--bgd-socials-bright-light);
}

[color-scheme='dark'] {
  color-scheme: dark;

  --title-primary: var(--title-primary-dark);
  --title-secondary: var(--title-secondary-dark);

  --text-primary: var(--text-primary-dark);
  --text-secondary: var(--text-secondary-dark);
  --text-tertiary: var(--text-tertiary-dark);

  --accent: var(--accent-dark);
  --logo-primary: var(--logo-primary-dark);
  --logo-secondary: var(--logo-secondary-dark);
  --icon-primary: var(--icon-primary-dark);

  --bgd-primary: var(--bgd-primary-dark);
  --bgd-secondary: var(--bgd-secondary-dark);
  --bgd-tertiary: var(--bgd-tertiary-dark);
  --bgd-button-focus: var(--bgd-button-focus-dark);
  --bgd-socials-bright: var(--bgd-socials-bright-dark);
}
