.features {
  @include mq(tablet) {
    display: flex;
    flex-wrap: wrap;
  }

  @include mq(tablet-only) {
    margin: -15px;
  }
}

.features__item {
  line-height: 1.71;

  @include mq(mobile-only) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @include mq(tablet-only) {
    flex-basis: calc((100% - 60px) / 2);
    margin: 15px;
  }

  @include mq(desktop) {
    flex-basis: calc((100% - 90px) / 4);

    &:not(:first-child) {
      margin-left: 30px;
    }
  }
}

.features__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120px;
  margin-bottom: 30px;

  background-color: var(--bgd-tertiary);
  border-radius: 4px;
}

.features__title {
  margin-bottom: 10px;

  font-weight: $fw-700;
  font-size: $fs-14;
  line-height: 1.17;
  text-transform: uppercase;
  color: var(--title-primary);

  @include mq(mobile-only) {
    text-align: center;
  }
}
